## Assignment #3
### CS 4347
#### Jake Lee

##### 1)
###### a.

In [ ]:
%%sql
SELECT Name
FROM STUDENT
WHERE Class=4 AND Major='CS'

###### b.

In [ ]:
%%sql
INSERT INTO COURSE
VALUES ('Design Patterns', 'SE4210', 3, 'SE')

###### c.

In [ ]:
%%sql
SELECT Course_name
FROM COURSE AS C, SECTION AS S
WHERE C.Course_number=S.Course_number AND S.Instructor='Anderson'

###### d.

In [ ]:
%%sql
UPDATE STUDENT
SET class = 4
WHERE name='Smith'

###### e.

In [ ]:
%%sql
DELETE FROM STUDENT
WHERE name='Brown' AND Student_number=8

###### f.
Retrieve the course name, department, and instructor for "Intro to Computer Science" and "Database". 

###### g.
Retrieve the name of the student, courses one's taking (name and course number), credit hours, semester, year, and grade / score of that student where: The student's major is CS, and a Senior.

##### 2)
###### a.

In [ ]:
%%sql
SELECT E.Fname AND E.Minit AND E.Lname
FROM EMPLOYEE AS E
INNER JOIN DEPARTMENT AS D ON E.Dno=D.Dnumber
INNER JOIN WORKS_ON AS W ON E.Ssn=W.Essn 
INNER JOIN PROJECT AS P ON P.Pnumber=W.Pno
WHERE E.Dno=5 AND W.Hours>20 AND P.Pname='ProductY'

###### b.

In [ ]:
%%sql
SELECT E.Fname AND E.Minit AND E.Lname
FROM EMPLOYEE AS E
INNER JOIN DEPENDENT AS D ON E.Ssn=D.Essn
WHERE D.Relationship='Spouse'

###### c.

In [ ]:
%%sql
SELECT E.Fname AND E.Minit AND E.Lname
FROM EMPLOYEE AS E
WHERE E.Super_Ssn IN (
        SELECT Ssn
        FROM EMPLOYEE
        WHERE Fname='Franklin' AND Lname='Wong'
)

###### e.
| E.Fname | E.Minit | E.Lname   |
|-------|-------|---------|
| Joyce | A     | English |

###### f.
| E.Fname    | E.Minit | E.Lname   |
|----------|-------|---------|
| Franklin | T     | Wong    |
| Jennifer | S     | Wallace |
| John     | B     | Smith   |

###### g.
| E.Fname  | E.Minit | E.Lname   |
|--------|-------|---------|
| John   | B     | Smith   |
| Ramesh | K     | Narayan |
| Joyce  | A     | English |

##### 3)
###### a.

In [ ]:
%%sql
SELECT D.Dname, COUNT (*) AS Nemployees
FROM DEPARTMENT AS D
INNER JOIN EMPLOYEE AS E ON D.Dnumber=E.Dno
GROUP BY D.Dname
HAVING AVG(E.Salary)>30000

###### b.

In [ ]:
%%sql
SELECT D.Dname, COUNT (*) AS Nemployees
FROM DEPARTMENT AS D
INNER JOIN EMPLOYEE AS E ON D.Dnumber=E.Dno
WHERE E.Sex='M' AND E.Dno ON (
    SELECT Dno
    FROM EMPLOYEE
    GROUP BY Dno
    HAVING AVG(Salary)>30000
)
GROUP BY D.Dname

###### c.

In [ ]:
%%sql
SELECT E.Fname, E.Minit, E.Lname
FROM EMPLOYEE AS E 
INNER JOIN DEPARTMENT AS D ON E.Dno=D.Dnumber
WHERE E.Dno IN (
    SELECT Dno
    FROM EMPLOYEE
    GROUP BY Dno
    HAVING AVG(Salary) = (SELECT MAX(Salary) FROM EMPLOYEE)
)

###### d.

In [ ]:
%%sql
SELECT E.Fname, E.Minit, E.Lname
FROM EMPLOYEE AS E 
INNER JOIN EMPLOYEE AS S ON E.Super_ssn = S.Ssn
INNER JOIN EMPLOYEE AS SS ON S.Ssn = SS.Ssn
WHERE SS.Ssn='888665555'

###### e.

In [ ]:
%%sql
SELECT E.Fname, E.Minit, E.Lname
FROM EMPLOYEE AS E
WHERE E.Salary > (
    SELECT MIN(Salary)
    FROM EMPLOYEE
) + 10000;